*.pyc
*.swp

# ---------------------------
# development mode only files
# ---------------------------
/data.store

# -----------------------
# choppy related settings
# -----------------------
/source/config/secret_keys.py
