					<h3>Бүх үгс</h3>
					<ul class="unstyled">
						<li><a href="">artificial intelligence</li></a>
						<li><a href="">agile software development</li></a>
						<li><a href="">algorithm</li></a>
						<li><a href="">amplifier</li></a>
						<li><a href="">animation</li></a>
						<li><a href="">aop</li></a>
						<li><a href="">api</li></a>
						<li><a href="">application</li></a>
						<li><a href="">arithmetic logic unit</li></a>
						<li><a href="">assembly language</li></a>
						<li><a href="">attach</li></a>
						<li><a href="">attache</li></a>
						<li><a href="">bandwidth</li></a>
						<li><a href="">browser</li></a>
						<li><a href="">buffer</li></a>
						<li><a href="">bug</li></a>
						<li><a href="">burner</li></a>
						<li><a href="">caffe latte</li></a>
						<li><a href="">camera</li></a>
						<li><a href="">cancel</li></a>
						<li><a href="">canon</li></a>
						<li><a href="">central processing unit</li></a>
						<li><a href="">cloud</li></a>
						<li><a href="">communication</li></a>
						<li><a href="">compile</li></a>
						<li><a href="">computer</li></a>
						<li><a href="">computing</li></a>
						<li><a href="">computing</li></a>
						<li><a href="">connection</li></a>
						<li><a href="">context</li></a>
						<li><a href="">copy</li></a>
						<li><a href="">cpu</li></a>
						<li><a href="">cracker</li></a>
						<li><a href="">crm</li></a>
						<li><a href="">cryptography</li></a>
						<li><a href="">cursor</li></a>
						<li><a href="">data</li></a>
						<li><a href="">dce</li></a>
						<li><a href="">delay</li></a>
						<li><a href="">developer</li></a>
						<li><a href="">device</li></a>
						<li><a href="">di</li></a>
						<li><a href="">directory</li></a>
						<li><a href="">distributed system</li></a>
						<li><a href="">downgrade</li></a>
						<li><a href="">download</li></a>
						<li><a href="">dvd</li></a>
						<li><a href="">e-mail</li></a>
						<li><a href="">edge</li></a>
						<li><a href="">entrepreneur</li></a>
						<li><a href="">entropy</li></a>
						<li><a href="">erp</li></a>
						<li><a href="">error</li></a>
						<li><a href="">exploit</li></a>
						<li><a href="">fallacy</li></a>
						<li><a href="">final value</li></a>
						<li><a href="">flash</li></a>
						<li><a href="">folder</li></a>
						<li><a href="">forum</li></a>
						<li><a href="">forward</li></a>
						<li><a href="">frame</li></a>
						<li><a href="">framework</li></a>
						<li><a href="">free</li></a>
						<li><a href="">fuzzy logic</li></a>
						<li><a href="">gadget</li></a>
						<li><a href="">graph</li></a>
						<li><a href="">graphical user interface</li></a>
						<li><a href="">groovy</li></a>
						<li><a href="">hack</li></a>
						<li><a href="">hacker</li></a>
						<li><a href="">hard copy</li></a>
						<li><a href="">hard disk</li></a>
						<li><a href="">header</li></a>
						<li><a href="">implementation</li></a>
						<li><a href="">inbox</li></a>
						<li><a href="">incremental value</li></a>
						<li><a href="">initial value</li></a>
						<li><a href="">innovation</li></a>
						<li><a href="">installed components</li></a>
						<li><a href="">instruction</li></a>
						<li><a href="">interactive</li></a>
						<li><a href="">internationalization</li></a>
						<li><a href="">interpreter</li></a>
						<li><a href="">issue</li></a>
						<li><a href="">kernel</li></a>
						<li><a href="">keyboard</li></a>
						<li><a href="">latency</li></a>
						<li><a href="">layer</li></a>
						<li><a href="">less options</li></a>
						<li><a href="">linked list</li></a>
						<li><a href="">list</li></a>
						<li><a href="">load</li></a>
						<li><a href="">load cancelled</li></a>
						<li><a href="">loading</li></a>
						<li><a href="">localization</li></a>
						<li><a href="">log</li></a>
						<li><a href="">logic</li></a>
						<li><a href="">logic gate</li></a>
						<li><a href="">login</li></a>
						<li><a href="">login error</li></a>
						<li><a href="">logistics</li></a>
						<li><a href="">machine language</li></a>
						<li><a href="">mail</li></a>
						<li><a href="">media-access layer</li></a>
						<li><a href="">memory</li></a>
						<li><a href="">message</li></a>
						<li><a href="">mobile</li></a>
						<li><a href="">module</li></a>
						<li><a href="">ncs</li></a>
						<li><a href="">network</li></a>
						<li><a href="">network core</li></a>
						<li><a href="">network edge</li></a>
						<li><a href="">nfs</li></a>
						<li><a href="">nodal processing</li></a>
						<li><a href="">node</li></a>
						<li><a href="">notebook</li></a>
						<li><a href="">open</li></a>
						<li><a href="">operating system</li></a>
						<li><a href="">outsourcing</li></a>
						<li><a href="">package</li></a>
						<li><a href="">path</li></a>
						<li><a href="">persistence</li></a>
						<li><a href="">phychographic</li></a>
						<li><a href="">physical layer</li></a>
						<li><a href="">platform</li></a>
						<li><a href="">primitive</li></a>
						<li><a href="">printer</li></a>
						<li><a href="">priority</li></a>
						<li><a href="">process</li></a>
						<li><a href="">processer</li></a>
						<li><a href="">processor</li></a>
						<li><a href="">profile</li></a>
						<li><a href="">program</li></a>
						<li><a href="">programming</li></a>
						<li><a href="">project</li></a>
						<li><a href="">projector</li></a>
						<li><a href="">propagation</li></a>
						<li><a href="">protection</li></a>
						<li><a href="">protocol</li></a>
						<li><a href="">query</li></a>
						<li><a href="">queue</li></a>
						<li><a href="">quorum</li></a>
						<li><a href="">redirect</li></a>
						<li><a href="">register</li></a>
						<li><a href="">regular expression</li></a>
						<li><a href="">remote management</li></a>
						<li><a href="">repeater</li></a>
						<li><a href="">repository</li></a>
						<li><a href="">research paper</li></a>
						<li><a href="">routing</li></a>
						<li><a href="">rpc</li></a>
						<li><a href="">scm</li></a>
						<li><a href="">security</li></a>
						<li><a href="">seo</li></a>
						<li><a href="">server</li></a>
						<li><a href="">share</li></a>
						<li><a href="">silicon</li></a>
						<li><a href="">silicon valley</li></a>
						<li><a href="">smart</li></a>
						<li><a href="">software</li></a>
						<li><a href="">spam</li></a>
						<li><a href="">speaker</li></a>
						<li><a href="">stack</li></a>
						<li><a href="">system</li></a>
						<li><a href="">table</li></a>
						<li><a href="">template</li></a>
						<li><a href="">thesis</li></a>
						<li><a href="">throughput</li></a>
						<li><a href="">tracker</li></a>
						<li><a href="">trailer</li></a>
						<li><a href="">tree</li></a>
						<li><a href="">tweet</li></a>
						<li><a href="">type</li></a>
						<li><a href="">typo</li></a>
						<li><a href="">unit</li></a>
						<li><a href="">unix-like</li></a>
						<li><a href="">upload</li></a>
						<li><a href="">utilization</li></a>
						<li><a href="">vending machine</li></a>
						<li><a href="">version control system</li></a>
						<li><a href="">virtualization</li></a>
						<li><a href="">virus</li></a>
						<li><a href="">visionary</li></a>
						<li><a href="">wired</li></a>
						<li><a href="">wireless</li></a>
					</ul>
